
:root {
    --brown: #d3982d;
    --gray: #F5F5F5;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* overflow-x: scroll !important; */
  /* overflow-x: hidden !important; */
}

.section-padding {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.footer-padding {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.img1 {
  position: relative;
}

.img2 {
  position: absolute;
  top: 26%;
  right: 63.6%;
}

/* a:hover {
  background-color: black !important;
  color: white !important;
} */

h1,
h2,
h3 {
  font-family: "Plus Jakarta Sans";
}

p {
  font-family: "Open Sans";
}
a {
  font-family: "Inter";
}
.hero-section {
  #a {
    margin-top: -4rem;
    padding-right: 4rem;
  }

  .step {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease;
    font-weight: bold;
  }

  .step.active {
    border-bottom: 3px solid #ff6600; /* Use your highlight color */
    color: #ff6600;
  }
}
/* about-section */
.about-section {
  span {
    margin-left: 10px;
    font-size: 1rem;
  }

  #heading {
    font-size: 30px;
  }

  .twenty {
    width: 150px;
    /* height: 50px; */
  }

  .img {
    width: 76px;
    /* height: 100px; */
  }
}

/* resource-section */
.cont {
  background-color: #130a0d;
}
.custom-container {
  margin-left: 0; /* Align to left by default */
  margin-right: auto;
  transition: all 0.3s ease-in-out;
  /* max-width: ; */
}
.img-custom {
  max-width: 600px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.service-section {
  #arrow {
    margin-top: -2rem;
  }
}

/* Center the container when screen is very wide (zoomed out or large monitor) */

/* section6 */
.section6 {
  .banner {
    background-image: url("../imgs/bg-img.png");
    background-size: cover;
    background-position: center;
  }
}

.form{
  margin: 40px 0; 
  padding: 10px 20px;
}

/* footer */
footer ul li {
  font-family: "Inter";
}

.quick-links {
  h3 {
    margin-bottom: 30px;
  }

  ul {
    li {
      margin-bottom: 10px;
    }
  }
}

.services {
  h3 {
    margin-bottom: 20px;
  }

  ul {
    li {
      margin-bottom: 10px;
    }
  }
}

.text-highlight {
  color: #f5a623;
}

.section-container {
  position: relative;
  padding: 3rem 1rem;
}

.image-top {
  /* position: absolute; */
  margin-top: 1rem;
  width: 100%;
  height: auto;
  z-index: 2;
  /* border-radius: 8px; */
}

.image-bottom {
  position: relative;
  width: 100%;
  /* border-radius: 8px; */
  z-index: 1;
  /* margin-top: 150px; */
}

.content-box {
  z-index: 3;
  position: relative;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}
.checklist li {
  margin-bottom: 10px;
}
.checklist li::before {
  border-radius: 50%;
  content: "\2714\FE0E";
  background-color: #d3982d !important;
  padding: 0 0.3rem 0 0.3rem;
  color: white !important;
  font-weight: bold;
  margin-right: 8px;
}

/* contact */
.highlight {
  color: #d3982d;
}

.contact-section {
  padding: 60px 0;
  margin: auto auto;
}

.image-wrapper {
  position: relative;
}

.contact-image {
  width: 706px;
  height: auto;
  display: block;
  /* border-radius: 5px; */
}

.contact-form-wrapper {
  position: absolute;
  top: 50%;
  right: 104px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 40px;
  width: 500px;
  max-width: 100%;
  /* border-top: 6px solid #d3982d;
  border-right: 6px solid #d3982d;
  border-bottom: 6px solid #d3982d; */
  border-left: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.contact-form-wrapper::before {
  border-top: 6px solid #d3982d;
  border-bottom: 6px solid #d3982d;
  width: 66%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 34%;
  z-index: -1;
  border-right: 6px solid #d3982d;
}

.form-control {
  border: none;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #d3982d;
}

.submit-btn {
  background-color: #d3982d;
  color: white;
  border: none;
  padding: 10px 25px;
}

.hero-section0 {
  .right {
    margin-top: 1rem;
  }
}

/* responsive */

/* About */

@media (max-width: 425px) {
  /* #image{
        width: 100px !important;
    } */
  .hero-section {
    .img1 {
      position: relative;
    }
    #a {
      margin-top: 1rem;
      padding-right: 2rem;
    }

    .img2 {
      position: static;
      margin-left: 0 !important;
      margin: auto;
    }
  }
  .resource-section {
    #heading {
      font-size: 30px !important;
    }
  }

  .about-section {
    .twenty {
      width: 100px !important;
      /* height: 50px; */
    }
  }

  .service-section {
    .image-wrappers {
      img {
        width: 220px;
      }
    }

    span:hover {
      color: #d3982d !important;
      cursor: pointer;
    }
  }

 
  /* section8 */
  .box-wrapper {
    .process-box {
      width: 100% !important;
    }
  }

  .section7 {
    .img-cont {
      img {
        max-width: 100% !important;
        height: auto !important;
      }
    }
  }

  .image-wrapper {
    position: static;
    /* Remove relative */

    img {
      padding: 10px;
    }
  }

  .contact-form-wrapper {
    position: static !important;
    transform: none;
    width: 100%;
    margin-top: 20px;
    border: 6px solid #d3982d;
    padding: 5px;

    form {
      padding: 0;
    }
  }

  .contact-form-wrapper::before {
    position: static;
    display: none;
  }

  .contact-image {
    width: 100%;
  }

  /* resource-section */
  .resource-section {
    /* margin-top: 20px; */
    .img-custom {
      width: 100% !important;
    }
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .contact-form-wrapper {
    position: static !important;
    transform: none;
    width: 100%;
    margin-top: 20px;
    border: 6px solid #d3982d;
  }

  .contact-form-wrapper::before {
    position: static;
    display: none;
  }
  .hero-section {
    .img1 {
      position: relative;
    }

    .img2 {
      position: static;
      /* margin-left: 0 !important; */
      margin: auto;
    }
  }

  .about-section {
    .twenty {
      width: 100px !important;
      /* height: 50px; */
    }
  }

  .resource-section {
    #heading {
      font-size: 30px !important;
    }
  }

  .service-section {
    .imgs {
      img {
        width: 220px;
      }
    }
  }

  /* section8 */
  .box-wrapper {
    .process-box {
      width: 100% !important;
    }
  }

  .section7 {
    .img-cont {
      img {
        max-width: 100% !important;
        height: auto !important;
      }
    }
  }

  .image-wrapper {
    position: static;
    /* Remove relative */
  }

  .contact-form-wrapper {
    position: static !important;
    /* Remove absolute */
    transform: none;
    width: 100%;
    margin-top: 20px;
    border: 6px solid #d3982d;
    /* Add all borders on mobile */
  }

  .contact-image {
    width: 100%;
  }

  .resource-section {
    /* margin-top: 20px; */
    .img-custom {
      max-width: 100% !important;
    }
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {
  .contact-form-wrapper {
    position: static !important;
    transform: none;
    width: 100%;
    margin-top: 20px;
    border: 6px solid #d3982d;
  }

  .contact-form-wrapper::before {
    position: static;
    display: none;
  }
  .service-section {
    .imgs {
      gap: 10px;
      justify-content: center;

      img {
        width: 300px;
      }
    }
  }

  .hero-section {
    .img1 {
      position: relative;
    }

    .img2 {
      position: static;
    }
  }

  .image-wrapper {
    position: static;
    /* Remove relative */
  }

  .contact-form-wrapper {
    position: static !important;
    /* Remove absolute */
    transform: none;
    width: 100%;
    margin-top: 20px;
    border: 6px solid #d3982d;
    /* Add all borders on mobile */
  }

  .contact-image {
    width: 100%;
  }

  .img-custom {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
  }

  .image-wrappers{
    img{
      width: 220px !important;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .contact-form-wrapper {
    position: static !important;
    transform: none;
    width: 100%;
    margin-top: 20px;
    border: 6px solid #d3982d;
  }

  .contact-form-wrapper::before {
    position: static;
    display: none;
  }
  .resource-section {
    #heading {
      font-size: 29px !important;
    }
  }
  .hero-section {
    .img1 {
      position: relative;
      max-width: 90% !important;
    }

    .img2 {
      position: absolute;
      top: 24%;
      right: 63.6%;
      width: 300px;
    }
  }

  .contact-image {
    width: 706px;
    height: auto;
    display: block;
    border-radius: 5px;
  }

  .contact-form-wrapper {
    right: -14px;
  }

  .contact-form-wrapper::before {
    width: 54%;

    left: 46%;
  }

  .service-section {
    .imgs {
      img {
        width: 300px;
      }
    }
  }

  .contact-form-wrapper {
    right: -14px;
  }

  #section-container {
    .image-top {
      margin-top: 3rem;
    }
  }
}

@media (min-width: 1400px) {
  .custom-container {
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form-wrapper {
    position: absolute;
    top: 50%;
    right: 290px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 40px;
    width: 500px;
    max-width: 100%;
    /* border-top: 6px solid #d3982d;
border-right: 6px solid #d3982d;
border-bottom: 6px solid #d3982d; */
    border-left: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .contact-form-wrapper::before {
    border-top: 6px solid #d3982d;
    border-bottom: 6px solid #d3982d;
    width: 66%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 34%;
    z-index: -1;
    border-right: 6px solid #d3982d;
  }

  .hero-section {
    .img2 {
      right: 68.6% !important;
    }
  }
}


/*----------------------- utility classes-------------------------  */
/* colors */
.bg-brown{
    background-color: #DAA14C !important;
}
.bg-gray{
    background-color: #F5F5F5 !important;
}
.bg-bkack{
    background-color: #130A0D!important;
}
.text-brown{
    color: #DAA14C !important;
}

/*  */

.gap-6 {
    gap: 5rem;
}

.border-brown {
    border-bottom: 1px solid #DAA14C !important;
}

/* Custom CSS */
.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px red; /* Chrome/Safari */
  /* text-stroke: 1px red; */
  font-weight: bold;            /* Optional for thicker stroke */
  font-size: 90px;
}

.outlined-texts{
    color: transparent;
  -webkit-text-stroke: 1px #DAA14C;
}

.butn:hover{
    border: 1px solid #DAA14C !important;
    
}

.font-opensans{
    font-family: 'Open Sans';
}

.font-jakarta{
    font-family: 'Plus Jakarta Sans';
}

.font-inter{
    font-family: 'Inter';
}


/* margin */
@media (min-width: 960px) {
    .ms-t-6 {
        margin-top: 9rem;
    }

     .container{
        .col-lg-7 {
        flex: 0 0 auto;
        width: 52.333333%;
    }
    
    }

    
    
}


.fs-7{
    font-size: 40px !important;

}
@media (max-width: 425px){
    .fs-sm-7{
        font-size: 29px !important;
    }
}