/* colors */
.bg-brown{
    background-color: #DAA14C !important;
}
.bg-gray{
    background-color: #F5F5F5 !important;
}
.bg-bkack{
    background-color: #130A0D!important;
}
.text-brown{
    color: #DAA14C !important;
}

/*  */

.gap-6 {
    gap: 5rem;
}

.border-brown {
    border-bottom: 1px solid #DAA14C !important;
}

/* Custom CSS */
.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px red; /* Chrome/Safari */
  /* text-stroke: 1px red; */
  font-weight: bold;            /* Optional for thicker stroke */
  font-size: 90px;
}

.outlined-texts{
    color: transparent;
  -webkit-text-stroke: 1px #DAA14C;
}

.butn:hover{
    border: 1px solid #DAA14C !important;
    
}


/* margin */
@media (min-width: 960px) {
    .ms-t-6 {
        margin-top: 9rem;
    }

    
    
}